{%extends 'base.html'%}


{%block content%}
	<h1>Tu pinche carrito</h1>
	<table>
		<thead>
			<tr>
				<th>Imagen</th>
				<th>Producto</th>
				<th>Cantidad</th>
				<th>Quitar</th>
				<th>Precio Unitario</th>
				<th>SubTotal</th>
			</tr>
		</thead>
		<tbody>
			{%for item in cart%}
				{%with product=item.product%}
				<tr>
					<td>
						<img src="">
					</td>
					<td>
						{{product.nombre}}
					</td>
					<td>
						{{item.quantity}}
					</td>
					<td>
						<a href="{%url 'cart:cart_remove' product.id%}">
							Quitar
						</a>
					</td>
					<td>
						$ {{item.price}}
					</td>
					<td>
						$ {{item.total_price}}
					</td>
				</tr>
				{%endwith%}
			{%endfor%}
			<tr>
				<td>Total</td>
				<td colspan="4"></td>
				<td>$ {{cart.get_total_price}}</td>
			</tr>
		</tbody>
	</table>

	<button class="btn azul" >
		<a href="{%url 'shop:tienda'%}">
		Continuar comprando
		</a>
	</button>
	<button class="btn rojo">
		<a href="">
		Pagar
		</a>
	</button>



{%endblock content%}